.reservation-form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: auto;
  max-width: 880px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='date'],
input[type='time'],
input[type='range'],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
}

input:disabled {
  background-color: #eee;
}

.time-tip {
  display: block;
  font-weight: 500;
}
.guestsOutput {
  display: block;
  text-align: center;
  font-size: larger;
}
.error-text {
  color: var(--red-1);
}
