.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='date'],
input[type='time'],
input[type='range'],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
}

input:disabled {
  background-color: #eee;
}

.time-tip {
  display: block;
  font-weight: 500;
}
.guestsOutput {
  display: block;
  text-align: center;
  font-size: larger;
}
.error-text {
  color: var(--red-1);
}

.thankyou {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000066;
}

.thankyou p {
  text-align: center;
  font-size: 1.2rem;
  margin: 10px;
}

.thankyou a {
  display: block;
  max-width: 500px;
  margin: auto;
}
.thankyou .card {
  max-width: 500px;
}
