main .container.flex {
  justify-content: space-around;
  gap: 1rem;
}

.reviews-section {
  margin-left: auto;
  margin-right: auto;
}

.reviews-section > .grid {
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #ccc;
}

.reviews-section select {
  max-width: 250px;
  width: calc(50vw - 3rem);
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
}

.review {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  gap: 5px;
}

.review-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.review-time {
  font-size: 1rem;
  color: #999;
  text-align: right;
  color: var(--dark-2);
}

.review-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.review-rating {
  margin-right: 10px;
  margin-bottom: 5px;
}

.review-stars {
  font-size: 1.5rem;
  color: #ffca08;
  text-align: center;
}

.review-images img {
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
  cursor: zoom-in;
}

.review-images.grid,
.uploaded-images.grid,
.btn-group.grid {
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.review-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 4;
}

.review-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px #00000080;
  border-radius: 5px;
  width: 90%;
  max-width: 640px;
  font-size: 1.2rem;
  max-height: 100vh;
}

.review-form h3 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select,
.form-group select option {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.1rem;
}

.uploaded-images {
  margin-top: 10px;
}

.uploaded-images img {
  display: block;
  max-width: 100%;
  height: auto;
}

.upload-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.1rem;
  color: var(--dark-1);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #ccc;
}

input#images {
  display: none;
}
